.done{
    text-decoration: line-through;
    opacity: 0.5;
}
.important{
   color: #17a2b8;
   font-weight: 700;
}
.textContent{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
