.listElements{
    height: 300px;
    padding: 25px;
    margin-bottom: 25px;
    overflow-y: scroll;
    border: 2px solid #eee;
    border-radius: 25px;
}
.listElements::-webkit-scrollbar{
    width: 0;
}